.mg-10{
    margin-bottom: 10px;
}
.mg-20{
    margin-bottom: 20px;
}
.mg-30{
    margin-bottom: 30px;
}
.mg-40{
    margin-bottom: 40px;
}
.mg-50{
    margin-bottom: 50px;
}
.mg-60{
    margin-bottom: 60px;
}
.mg-70{
    margin-bottom: 70px;
}
.mg-80{
    margin-bottom: 80px;
}

.mg-left-10{
    margin-left: 10px;
}
