table {
    border-collapse: collapse;
}

input[type='text'] {
    width: 85%;
    margin: 0;
    padding: 6px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

input[type='button'],input[type='submit'] {
    cursor: pointer;
}

textarea{
    margin: 0;
    padding: 6px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}
